<mat-toolbar color="primary" class="footer-toolbar">
    <mat-toolbar-row class="footer-details">
        <div class="socials">
            <a href="https://www.instagram.com/matheuzngr/" target="_blank">
                <img src="../assets/images/linkedin.svg" alt="Linkedin Matheus G. Nogueira">
            </a>
            <a href="https://www.linkedin.com/in/eomgn/" target="_blank">
                <img src="../assets/images/instagram.svg" alt="Instagram Matheus G. Nogueira">
            </a>
        </div>
        <span>Developer by Matheus G. Nogueira</span>
    </mat-toolbar-row>
</mat-toolbar>