.container{
    .card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    
            .card__item {
                width: 300px;
                height: auto;
                padding: 0;
    
                mat-card-content {
                    padding: 0;
                    height: 250px;
    
                    background-color: rgba(240, 248, 255, 0.1);
    
                    border-radius: 6px;
    
                    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.382);
                }
    
                .card__item__details {
                    margin: 30px 15px 0 15px;
    
                    h2 {
                        margin-bottom: 25px;
                    }
                }
    
                .card__item__details--bottom{
                    position: absolute;
                    width: 100%;
                    bottom: 0;
    
                    .card__item--line{
                        border: 1px solid  rgba(240, 248, 255, 0.378);
                    }
    
                    .card__item--type {
                        padding: 5px 15px 5px 15px;
                        
                        p {
                            width: fit-content;
                            padding: 4px 8px;
    
                            font-size: 12px;
                            font-weight: 500;
    
                            border-radius: 6px;
                        }
                    }
                }
            }   
    }

    .paginator {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        padding: 2rem 0;

        .paginator--button {
            padding: 0.6rem;
            cursor: pointer;

            font-size: 1.6rem;

            border: none;
            border-radius: 6px;

            color: #fff;
            background-color: #00000061;

            box-shadow: 0 0 5px #ffffff72;
        }

        .active {
            background-color: #fff;
            color: #000;
    
            border: none;
            border-radius: 6px;
        }
    }

    
}
