.container {
  padding: 0 1.2rem 1.2rem 1.2rem;
  // animation: spin-top 0.7s 0.4s backwards;

  .filter {
    margin: 2rem;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }

  .cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
  }

  app-card {
    transition: all 0.2s ease-in-out;
    animation: spin-top 0.5s 0.3s backwards;
  }
  app-card:hover {
    // transform: scale(1.1);
    transform: rotate(-1.5deg) scale(1.1);
  }

  .paginator {
    margin: 2rem;

    display: flex;
    justify-content: center;
  }
}
