<main>
  <div class="container">
    <!-- select of type -->
    <div class="filter">
      <p-dropdown
        [options]="types"
        [(ngModel)]="selectedType"
        optionLabel="name"
        optionValue="name"
        placeholder="Selecionar tipo"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="getBreweriesList()"
      ></p-dropdown>
    </div>

    <!-- cards -->
    <div class="cards">
      <ng-container *ngFor="let brewrie of brewries">
        <app-card
          [nameCard]="brewrie.name"
          [streetCard]="brewrie.street"
          [cityCard]="brewrie.city"
          [stateCard]="brewrie.state"
          [postalCodeCard]="brewrie.postal_code"
          [countryCard]="brewrie.country"
          [typeCard]="brewrie.brewery_type"
        ></app-card>
      </ng-container>
    </div>

    <!-- pagination -->

    <div class="paginator">
      <p-selectButton
        (click)="getBreweriesList()"
        [options]="paymentOptions"
        [(ngModel)]="currentPage"
        optionLabel="name"
        optionValue="value"
      ></p-selectButton>
    </div>
  </div>
</main>
