/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

a:hover {
  transform: scale(1.1);
}

.container {
  padding: 1.2rem;
}
